---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
import Markdown from '../components/Markdown.astro';

const explainer = `
An Astro website can go way beyond static pages - on the right platform.

Netlify supports not only [Streaming SSR](https://docs.astro.build/en/guides/server-side-rendering/) and fast [Edge Middleware](https://docs.astro.build/en/guides/middleware/), but also [on-demand revalidation](https://www.netlify.com/blog/cache-tags-and-purge-api-on-netlify/) and [stale-while-revalidate](https://www.netlify.com/blog/swr-and-fine-grained-cache-control/). 
Any page or data can be rebuilt only when needed, without site visitors ever getting a performance hit.
`;
---

<Layout title="Welcome to Astro.">
    <h2><span style="color: white;">Privacy Policy</span></h2><p>
        <span style="color: white;"
            >Your privacy is important to us. It is MAGALLAMA's policy to respect your privacy regarding any information we may collect from you across our
            website, <a href="https://meek-lamington-6ffbc4.netlify.app">MAGALLAMA</a>, and other sites we own and operate.</span
        >
    </p><p>
        <span style="color: white;"
            >We only ask for personal information when we truly need it to provide a service to you. We collect it by fair and lawful means, with your knowledge
            and consent. We also let you know why we’re collecting it and how it will be used.</span
        >
    </p><p>
        <span style="color: white;"
            >We only retain collected information for as long as necessary to provide you with your requested service. What data we store, we’ll protect within
            commercially acceptable means to prevent loss and theft, as well as unauthorised access, disclosure, copying, use or modification.</span
        >
    </p><p>
        <span style="color: white;">We don’t share any personally identifying information publicly or with third-parties, except when required to by law.</span>
    </p><p>
        <span style="color: white;"
            >Our website may link to external sites that are not operated by us. Please be aware that we have no control over the content and practices of these
            sites, and cannot accept responsibility or liability for their respective&nbsp;</span
        ><a href="https://privacypolicies.in/" rel="noopener noreferrer" target="_blank" style="color: white;">privacy policies</a><span style="color: white;"
            >.</span
        >
    </p><p>
        <span style="color: white;"
            >You are free to refuse our request for your personal information, with the understanding that we may be unable to provide you with some of your
            desired services.</span
        >
    </p><p>
        <span style="color: white;"
            >Your continued use of our website will be regarded as acceptance of our practices around privacy and personal information. If you have any
            questions about how we handle user data and personal information, feel free to contact us.</span
        >
    </p><p>
        <br />
        <span style="color: white;"
            ><h2><span style="color: white;">Cookie Policy for MAGALLAMA</span></h2><p><span style="color: white;"> </span></p><p>
                <span style="color: white;">This is the Cookie Policy for MAGALLAMA, accessible from URL https://meek-lamington-6ffbc4.netlify.app.</span>
            </p><p><span style="color: white;"> </span></p><h3><span style="color: white;">What Are Cookies</span></h3><p>
                <span style="color: white;"> </span>
            </p><p>
                <span style="color: white;"
                    >As is common practice with almost all professional websites this site uses cookies, which are tiny files that are downloaded to your
                    computer, to improve your experience. This page describes what information they gather, how we use it and why we sometimes need to store
                    these cookies. We will also share how you can prevent these cookies from being stored however this may downgrade or break certain elements
                    of the sites functionality.</span
                >
            </p><p><span style="color: white;"> </span></p><h3><span style="color: white;">How We Use Cookies</span></h3><p>
                <span style="color: white;"> </span>
            </p><p>
                <span style="color: white;"
                    >We use cookies for a variety of reasons detailed below. Unfortunately in most cases there are no industry standard options for disabling
                    cookies without completely disabling the functionality and features they add to this site. It is recommended that you leave on all cookies
                    if you are not sure whether you need them or not in case they are used to provide a service that you use.</span
                >
            </p><p><span style="color: white;"> </span></p><h3><span style="color: white;">Disabling Cookies</span></h3><p>
                <span style="color: white;"> </span>
            </p><p>
                <span style="color: white;"
                    >You can prevent the setting of cookies by adjusting the settings on your browser (see your browser Help for how to do this). Be aware that
                    disabling cookies will affect the functionality of this and many other websites that you visit. Disabling cookies will usually result in
                    also disabling certain functionality and features of this site. Therefore it is recommended that you do not disable cookies.</span
                >
            </p><p><span style="color: white;"> </span></p><h3><span style="color: white;">The Cookies We Set</span></h3><p>
                <span style="color: white;"> </span>
            </p><p><br /></p><p><span style="color: white;"> </span></p><h3><span style="color: white;">Third Party Cookies</span></h3><p>
                <span style="color: white;"> </span>
            </p><p>
                <span style="color: white;"
                    >In some special cases we also use cookies provided by trusted third parties. The following section details which third party cookies you
                    might encounter through this site.</span
                >
            </p><p><span style="color: white;"> </span></p><p><br /></p><p><span style="color: white;"> </span></p><p>
                <span style="color: white;"></span>
            </p><p><span style="color: white;"> </span></p><p><br /></p></span
        >
    </p><h3><span style="color: white;">User's responsibilities</span></h3><p>
        <span style="color: white;"
            >The user undertakes the responsibility to make appropriate use of the contents and information offered on the site with enunciative, but not
            imitative, behaviour:</span
        >
    </p><ul>
        <li><span style="color: white;">A) Not to engage in activities that are illegal or contrary to good faith and public order;</span></li><li>
            <span style="color: white;"
                >B) Not to spread propaganda or content of a racist, xenophobic or gambling nature, any type of illegal pornography, terrorist claims or against
                human rights;</span
            >
        </li><li>
            <span style="color: white;"
                >C) Do not cause damage to physical systems (hardware) and unattainable (software) of MAGALLAMA, its suppliers or third parties, to introduce or
                disseminate computer viruses or any other hardware or software systems that are capable of causing damage previously mentioned.</span
            >
        </li>
    </ul><h3><span style="color: white;">More information</span></h3><p>
        <span style="color: white;"
            >Hopefully that has clarified things for you and as was previously mentioned if there is something that you aren't sure whether you need or not it's
            usually safer to leave cookies enabled in case it does interact with one of the features you use on our site.</span
        >
    </p><p><span style="color: white;">This policy is effective as of 3 May 2024 13:59.</span></p>
</Layout>
